#inicio{
  padding:5px;
  margin-left: 30%;
  margin-top: 10%;
  border-style: solid;
  color: black;

}
#titulo{

  font-size: 25px;
  padding: 7px;

  text-align: center;
  font-family: fantasy;
}

#cuerpo_inicio{

  min-height: 400px;
  background-image: url("/imagenes/cancha.jpg");"
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
#aa{

  margin: 25px auto 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px;

}
#centro{
  text-align: center;
}
#centro1{
margin-left: 3%;

}
#centro2{
  margin-left: 17%;

margin-top: -3%


}
#centro3{
margin-left: 34%;
margin-top: -3%
}

#centro4{
margin-left: 49%;
margin-top: -3%
}

#centro5{
margin-left: 69%;
margin-top: -3%
}
#centro6{
margin-left: 79%;
margin-top: -3%
}

#centro9{
margin-left: 4%;
margin-top: 16%
}

#centro10{
height:103px;
margin-bottom:  1%;
margin-right: 1%;
margin-left: 1%;
margin-top: 15%
}
#centro11{
  height:133px;
margin-left: 2%;
margin-top: 4%
}
#centro12{
height:53px;
margin-bottom:  1%;
margin-right: 1%;
margin-left: 2%;
margin-top: 1%
}
#centro13{
margin-left: 65%;
margin-top: -3%
}
#centro14{
margin-left: 77%;
margin-top: -5%
}
#centro15{
margin-left: 95%;
margin-top: -9%
}
#centro16{
height:103px;
margin-bottom:  1%;
margin-right: 1%;
margin-left: 1%;
margin-top: 26%
}
#tabla{

  	transition: all .5s;
    border-collapse: collapse;
    font-size: 14px;
    min-width: 537px;
}

#tabla td{
  border: 1px solid #e1edff;
  padding: 7px 17px;
}
#centro19{
  height:133px;
margin-left: 44%;
margin-top: 4%
}
